Source: libopensync
Section: unknown
Priority: optional
Maintainer: Norm Dressler norm@dressler.ca
Build-Depends: debhelper (>= 4.0.0), libglib2.0-0, libglib2.0-dev, libsqlite3-0, libsqlite3-dev, libxml2, libxml2-dev
Standards-Version: 3.6.1

Package: libopensync
Architecture: any
Depends: libglib2.0-0, libsqlite3-0, libxml2
Description: OpenSync is a synchronization framework that is platform and distribution independent.
  OpenSync is a synchronization framework that is platform and distribution independent.
  It consists of several plugins that can be used to connect to devices, a powerfull sync-engine and the framework itself.
  OpenSync is platform and distribution independent has no dependencies on X related libraries.
