Source: libopensync-plugin-syncml
Section: libs
Priority: optional
Maintainer: Armin Bauer <armin.bauer@desscon.com>
Build-Depends: debhelper (>= 4.0.0), libopensync0-dev, libsyncml-dev
Standards-Version: 3.6.2

Package: opensync-plugin-syncml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsyncml0
Description: SyncML plugin for opensync
 An SyncML plugin for opensync. This allow to synchronize against
 devices which support the SyncML standard. Supported transports are
 Obex and Http. Supported SyncML versions are 1.0, 1.1 and 1.2.
