Source: libopensync
Section: unknown
Priority: optional
Maintainer: Norm Dressler norm@dressler.ca
Build-Depends: debhelper (>= 4.0.0) glib-2.0 gmodule-2.0 gobject-2.0 gthread02.0 libsqlite3-0 libsqlite3-dev
Standards-Version: 3.6.1

Package: libopensync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenSync is a synchronization framework that is platform and distribution independent.
  OpenSync is a synchronization framework that is platform and distribution independent.
  It consists of several plugins that can be used to connect to devices, a powerfull sync-engine and the framework itself.
  OpenSync is platform and distribution independent has no dependencies on X related libraries.
